<html>
<head>
<body style = "background:  rgb(201, 206,199)" >
<table style="width:100%" border=0>
  <tr>
   
    <td height=100> <h1 align="middle" > House Prediction</h1></td>
  </tr>
 
</table>


 <form action="/predict" method = "POST">
 <table style="width:50%" border=1 align="center">
  <tr>
    <th align="right" width="50%">Enter SQUARE FT Value :</th>
    <td><input type="text" name = "SQUARE_FT" placeholder="Enter SQUARE FT Value" /></td>
  </tr>
  <tr>
    <th align="right" width="50%">Enter Number of BHK :</th>
    <td><input type="text" name = "BHK_NO" placeholder="Enter Number of BHK" /></td>
  </tr>
   <tr>
    <th align="right" width="50%">Enter Location of LONGITUDE Value :</th>
    <td><input type="text" name = "LONGITUDE" placeholder="Enter Location of LONGITUDE Value" /></td>
  </tr>
   <tr>
    <th align="right" width="50%">Enter Location of LATITUDE Value :</th>
    <td><input type="text" name = "LATITUDE" placeholder="Enter Location of LATITUDE Value" /></td>
  </tr>
   <tr>
    <th align="right" width="50%"> <label for="RESALE">RESALE :</label></th>
    <td><select name="RESALE" id="RESALE">
	  <option value="1">Yes</option>
	  <option value="0">No</option>
	 </select></td>
  </tr>
   <tr>
    <th align="right" width="50%"> <label for="READY_TO_MOVE">READY_TO_MOVE :</label></th>
  <td>	<select name="READY_TO_MOVE" id="READY_TO_MOVE">
	  <option value="1">Yes</option>
	  <option value="0">No</option>
	 </select>
	</td>
  </tr>
   
  <tr>
    <td align="middle" colspan="2" height=50><button type  = "submit" name = "predict"> Predict House Price</button>  </td>
	
  </tr>
 
  <tr>
    <td align="middle" colspan="2" height=50>{{prediction_text}} </td>
	
  </tr>
</table>


      
 </form>
</body>
</head>


</html>